/* Cek CSS */
.cek{
    border-style: solid;
    border-width: 1px;
}

/* reset CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    background-color: #f8f9fa;
}
body{
    font-family: "Parkinsans", sans-serif;
}

/* Header Styling */
header{
    padding: 1rem 2rem;
}

.navigation-header{
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Navigation Styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
/* logo Styling */
.logo{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Links Styling */
.nav-links{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    

}
.nav-links a:hover{
    color: crimson;
    transition: 0.3s ease;
}




/* hero-selection styling */
.hero-selection{
    background: url('images/hero.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}


.hero-selection .container{
    max-width: 800px;
    color: white;

}

.hero-selection h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-selection .subtitle {
    color: crimson;
    font-size: 1.5rem;
    font-weight: bold;
}

.hero-selection .description{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.hero-selection .cta-button{
    display: inline-block;
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;    
}

.hero-selection .cta-button:hover{
    background-color: rgb(225, 60, 93);
    transition: background-color 0.3s ease;
}

/* About Me Styling */
.about-me{
    margin-top: 50px;
    padding: 10rem 2rem;
    background-color: #f8f9fa;  
}

.about-me .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.cover-photo{
    position: relative;
    border: 10px solid #f8f9fa;
}
.cover-photo::after{
    content: '';
	position: absolute;
    border-radius: 5px;
	left: -2rem;
	top: -1.5rem;
	height: 96%;
	width: 100%;
	border: 7px solid crimson;
	z-index: 1;
}

.about-me .about-photo img{
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me .about-text{
    flex: 1;
}

.about-me .about-text h2{
 font-size: 3rem;
 margin-bottom: 1rem;
}
.about-me span{
    color: crimson;
}

.about-me .about-text h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
hr{
    border: 2px solid crimson;
    margin-bottom: 1rem;
}

.about-me .about-text p{
 font-size: 1rem;
 line-height: 1.6;
 margin-bottom: 1rem;
}

/* Skills Styling */
.skills-me{
    padding: 5rem 2rem;
    background-color: #f8f9fa;
    text-align: center;  
}

.skills-me h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: #333333;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.skill-card{
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-icon{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skill-card h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.progress-bar{
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    overflow: hidden;
}

.progress{
    height: 100%;
    border-radius: 5px;
    background-color: crimson;
}

/* Project Styling */
.project-me{
    padding: 10rem 2rem;
    background-color: #f8f9fa;
    text-align: center;  
}
.project-me h2{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: #333333;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.project-card{
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card:hover{
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}
.image-card{
    position: relative;
    
    width: 100%;
    height: 200px;
    
}
.image-card img{
    object-position: 25% 25%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-content{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 20px;
   padding: 1rem;
}

.project-content h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333333;
}

.project-link {
    color: crimson;
    text-decoration: none;
    font-weight: bold;
  }

  .project-link:hover {
    text-decoration: underline;
  }

/* Contact Styling */
.contact{
    color: #fff;
    padding: 4rem 2rem;
    background-color:	#778899 ;
    text-align: center;  
}

.contact h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 2rem;
}

.contact-form{
    background: #fff;
    border-radius: 5px;
    color: #333;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 0.5rem;
}
.contact-form input, textarea{
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.submit-button{
    background: grey;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    float: right;
}
.submit-button:hover{
    transition: background 0.3s ease;
    background: rgb(217, 214, 214);
}

.contact-info{
    text-align: left;
    margin-top: 2rem;
    line-height: 0.5rem;
    margin-left: 2rem;
}

.social-link{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 0.5rem;
}

/* Footer Styling */
.footer{
   background-color: #333333;
   width: 100%;
   font-weight: bold;
   text-align: center;
   color: #f8f9fa;
   padding: 1.5rem;
}

.social-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social-icon img{
    height: 0 auto;
    width: 50%;
}



/* Tablet View */
@media (max-width: 768px) {
    /* Nav Styling */
    nav{
        flex-direction: column;
        gap: 20px;
    }

    /* Hero Styling */
    .hero-selection h1{
        font-size: 2.5rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    .hero-selection .description{
        font-size: 0.9rem;
        
    }
    
    .hero-selection .cta-button{
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;    
    }

    /* About Styling */
    .about-me .container{
        flex-direction: column;
        text-align: center;
    }
    
    .about-me .about-photo img{
       margin: 0 auto;
    }
    
    .about-me .about-text h2{
     font-size: 2.5rem;
     margin-bottom: 1rem;
    }
    .about-me span{
        color: crimson;
    }
    
    .about-me .about-text h3{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
 
    .about-me .about-text p{
     font-size: 0.9rem;
     line-height: 1.5;
     margin-bottom: 1rem;
    }

    /* Skill Styling */
    .skills-me h2 {
        font-size: 2rem;
        margin-bottom: 4rem;
        color: #333333;
    }
    
    .skills-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
    .skill-card{
        background-color: white;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .skill-icon{
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }
    
    .skill-card h3{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    
    .progress-bar{
        height: 8px;
        border-radius: 5px;
        background-color: #e0e0e0;
        overflow: hidden;
    }
    
    /* Project Styling */

    .project-me h2{
        font-size: 2rem;
    }
    
    .project-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
    .project-content h3{
        font-size: 1.3rem;
    }
    
        /* Contact Styling */
    .contact h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .contact p{
        font-size: 0.9rem;
    }

    .contact-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-form{
        background: #fff;
        border-radius: 5px;
        color: #333;
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-form label{
        font-size: 0.9rem;
        font-weight: bold;
        display: flex;
        margin-bottom: 0.5rem;
    }
    .contact-form input, textarea{
        width: 100%;
        padding: 0.8rem;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    .submit-button{
        background: grey;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.4rem 0.9rem;
        text-decoration: none;
        border-radius: 5px;
        float: right;
    }

    .contact-info{
        text-align: left;
        margin-top: 2rem;
        line-height: 0.5rem;
        margin-left: 1.5rem;
    }

    .social-link{
        font-size: 0.9rem;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        margin-right: 0.5rem;
    }

    /* Footer Styling */
    .footer{
        background-color: #333333;
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: #f8f9fa;
        padding: 1.5rem;
    }
    
    .social-icon{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    
    .social-icon img{
        height: 0 auto;
        width: 50%;
    }
}

/* Phone View */
@media (max-width: 480px){
    header{
        padding: 1rem;
    }

        /* Nav Styling */
        nav{
            flex-direction: column;
            gap: 20px;
        }

        /* logo Styling */
        .logo{
            font-size: 1.4rem;
        }
        

        /* Hero Styling */
        .hero-selection h1{
            font-size: 1.9rem;
        }
    
        .subtitle{
            font-size: 0.9rem;
        }
    
        .hero-selection .description{
            font-size: 0.8rem;
            
        }
        
        .hero-selection .cta-button{
            padding: 0.5rem 1.1rem;
            font-size: 0.8rem;    
        }
    
        /* About Styling */
        .about-me .container{
            flex-direction: column;
            text-align: center;
        }
        
        .about-me .about-photo img{
            justify-content: center;
           margin: 0 auto;
        }
        
        .about-me .about-text h2{
         font-size: 2.4rem;
         margin-bottom: 1rem;
        }
        .about-me span{
            color: crimson;
        }
        
        .about-me .about-text h3{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
     
        .about-me .about-text p{
         font-size: 0.85rem;
         line-height: 1.5;
         margin-bottom: 1rem;
        }
    
        /* Skill Styling */
        .skills-me h2 {
            font-size: 1.9rem;
            margin-bottom: 4rem;
            color: #333333;
        }
        
        .skills-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        
        .skill-card{
            background-color: white;
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .skill-icon{
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        
        .skill-card h3{
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
        
        .progress-bar{
            height: 6px;
            border-radius: 5px;
            background-color: #e0e0e0;
            overflow: hidden;
        }
        
        /* Project Styling */
    
        .project-me h2{
            font-size: 1.9rem;
        }
        
        .project-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        
        .project-content h3{
            font-size: 1.2rem;
        }
        
            /* Contact Styling */
        .contact h2{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    
        .contact p{
            font-size: 0.9rem;
        }
    
        .contact-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    
        .contact-form{
            background: #fff;
            border-radius: 5px;
            color: #333;
            padding: 2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    
        .contact-form label{
            font-size: 0.8rem;
            font-weight: bold;
            display: flex;
            margin-bottom: 0.5rem;
        }
        .contact-form input, textarea{
            width: 100%;
            padding: 0.8rem;
            border-radius: 8px;
            margin-bottom: 1rem;
        }
    
        .submit-button{
            background: grey;
            font-size: 0.8rem;
            font-weight: bold;
            padding: 0.3rem 0.7rem;
            text-decoration: none;
            border-radius: 5px;
            float: right;
        }
    
    
        .social-link{
            font-size: 0.8rem;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            margin-right: 0.5rem;
        }
    
        /* Footer Styling */
        .footer{
            background-color: #333333;
            width: 100%;
            font-size: 0.9rem;
            font-weight: bold;
            text-align: center;
            color: #f8f9fa;
            padding: 1.5rem;
        }
        
        .social-icon{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        
        .social-icon img{
            height: 0 auto;
            width: 40%;
        }
}























































